*{
	padding: 0;
	margin-top: 0;
	margin: 0;
}

body{
	width: 100%;
	height: 100%;
	color: #fff;
	background: linear-gradient(90deg, cyan, #00BFFF, #1E90FF);
	
}

body ul{
	color: black;
	margin-top: 100px;
}

/* tablet */
/* @media screen and (min-width: 768px){
	body ul{
		margin-top: 100px;
	}
} */

/* destop */
/* @media screen and (min-width: 992px){
	body ul{
		position: 0px -100px;
	}
} */
/* akhir lebar */
