
*{
	padding: 0;
	margin-top: 0;
	margin: 0;

}



.permainan{
	margin-top: 300px;
}
.permainan a{
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid yellow;

}

.permainan #Page2{
	color: yellow;
}

.permainan #Page2:hover{
	color: black;
	stroke: 2px;
	background:yellow;
	box-shadow: 0 0 3px yellow,
	            0 0 6px yellow,
	            0 0 12px yellow,
	            0 0 24px yellow,
	            0 0 48px yellow,
	            0 0 56px yellow,
	            0 0 62px yellow,
	            0 0 124px yellow
}


.jumbotron{
	height: 1000px;
	color: #fff;
	background: linear-gradient(#00FF00, #FFFF00, #0000FF);
	background-repeat: no-repeat;
	background-size: cover;

}


/* awal lebar */
.pitik{
	margin-top: 5%;
}
.pitik a{
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid red;

}

.pitik #YOUTUBE{
	color: red;
}

.pitik #YOUTUBE:hover{
	color: black;
	stroke: 2px;
	background:red;
	box-shadow: 0 0 3px red,
	            0 0 6px red,
	            0 0 12px red,
	            0 0 24px red,
	            0 0 48px red,
	            0 0 56px red,
	            0 0 62px red,
	            0 0 124px red
}

button {
	border: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color: #00FF00; 
	outline: none;
	
}


#play{
	background-image: url("img/StopSong.png");
}




/* ukuran hp */
@media screen and (min-width: 576px){
	.profil{
		margin-left: 0px;
	}
	.pitik{
		margin-left: 2px;	
	}
}
/* tablet */
@media screen and (min-width: 768px){
	.profil{
		margin-left: 40px;
	}
	.pitik{
		margin-left: 30px;	
	}
}

/* destop */
@media screen and (min-width: 992px){
	.profil{
		margin-left: 80px;
	}
	.pitik{
		margin-left: 30px;	
	}
	.permainan{
		margin-top: 250px;
	}
}
/* akhir lebar */
