h2 {
    font-family: arial;
    text-align: center;
    color: rgb(25, 0, 255);
}
.simbol{
	width: 100%;
	height: 100%;
}

/* .bungkus{
	position: fixed;
	margin-top: -250px;
	margin-left: 10%;
	opacity: 0.5;
} */

body {
    background: #202028;
    color: white;
    font-family: sans-serif;
}


button {
	border: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color: #202028; 
	outline: none;
}




#play{
	background-image: url("../../img/StopSong.png");
}


.pembungkus{
    font-size: 2em;
    align-items: center;
}
.Kalah h3{
	text-align: center;
	color: red;
}
.Kalah{
	display: none;
}
.Pauses h3{
	text-align: center;
	color: rgb(255, 255, 255);
}
.Pauses{
	display: none;
}

#Mulai_HP{
	color: white;
}
#Mulai_PC{
	color: white;
}
.bi-play-fill{
	color: white;
	font-size: 50px;
	opacity: 1;
}

.tombolMulaiPC{
		color: white;
	font-size: 50px;
	opacity: 1;
	margin-top: -50%;
}
.PC{
	display: none;
}
.bestscore p{
	font-size: 15px;
}

.lingkaran{
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin-top: 100%;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	position: fixed;
	bottom: 0;
	left: 0;

}
.lingkaran i{
	display: flex;
	justify-content: center;
	font-size: 35px;
	color: rgba(255, 255, 255, .3);
	position: relative;
	opacity: .5;
}
.lingkaran .bi-arrow-down-circle-fill{
	margin-top: 7%;
}

.lingkaran .bi-arrow-left-circle-fill{
	margin-right: -50%;
	margin-top: 40%;
	position: absolute;
	margin-left: 4px;
}
.lingkaran .bi-arrow-right-circle-fill{
	position: relative;
	margin-top: 40%;
	margin-left: 70%;
}

.rotasi .bi-arrow-counterclockwise{
	position: fixed;
	font-size: 40px;
	right: 10%;
	top: 85%;
	transform: translate(50%, -50%);
	color: red;
}
.playe .bi-pause-circle-fill{
	position: fixed;
	font-size: 40px;
	right: 10%;
	top: 75%;
	transform: translate(50%, -50%);
	color: red;
}
.playe .bi-play-circle-fill{
	position: fixed;
	font-size: 40px;
	right: 10%;
	top: 75%;
	transform: translate(50%, -50%);
	color: red;
}
.kiri, .kanan, .bawah, .rotasi, .pause, .playe{
	width:auto;
	height: auto;
}

.nextpieces{
	width: 100px;
	height: 100px;
	position: fixed;
	left: 0;
	top: 25%;
}
.nextpieces p{
	font-size: 15px;
}

/* tablet */
@media screen and (min-width: 768px){

	.PC{
		display: none;
	}
	
}

/* destop */
@media screen and (min-width: 800px){
	.form-check{
		display: none;
	}
	.bungkus{
		display: none;
	}
	.PC{
		display: block;
	}

	.nextpieces{
		width: 100px;
		height: 100px;
		position: relative;
	}
	.nextpieces p{
		font-size: 15px;
	}
	.AutoDrop{
		display: none;
	}

}

.AutoDrop {
    position: fixed;
    left: 0;
	bottom: 0;
    color: cyan;
    font-size: 50px;
	margin-bottom: 200px;
	margin-left: 20px;
}

/* <i class="bi bi-arrow-bar-down"></i> */