*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.gelap{
	background-color: rgb(39, 38, 38);
}
.gelap h1{
	color:aliceblue;
}
li{
	list-style-type: none;
}
#atasUmur{
	display: flex;
}
.permainan{
	margin-top: 300px;
}
.permainan a{
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid yellow;

}

.permainan #Page2{
	color: yellow;
}

.permainan #Page2:hover{
	color: black;
	stroke: 2px;
	background:yellow;
	box-shadow: 0 0 3px yellow,
	            0 0 6px yellow,
	            0 0 12px yellow,
	            0 0 24px yellow,
	            0 0 48px yellow,
	            0 0 56px yellow,
	            0 0 62px yellow,
	            0 0 124px yellow
}


.jumbotron{
	color: black;
	height: 1000px;
	background: linear-gradient(#00FF00, #FFFF00, #0000FF);
	background-repeat: no-repeat;
	background-size: cover;

}


/* awal lebar */
.pitik{
	margin-top: 5%;
}
.pitik a{
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid red;

}

.pitik #YOUTUBE{
	color: red;
}

.pitik #YOUTUBE:hover{
	color: black;
	stroke: 2px;
	background:red;
	box-shadow: 0 0 3px red,
	            0 0 6px red,
	            0 0 12px red,
	            0 0 24px red,
	            0 0 48px red,
	            0 0 56px red,
	            0 0 62px red,
	            0 0 124px red
}

button {
	border: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0); 
	outline: none;
	
}


#play{
	background-image: url("img/StopSong.png");
}


.bodys{
    width: 100%;
    height: 100vh;
    background-color: #3264fe;
    z-index: 1;
	position: absolute;
}
.container{
    background-color: #ffffff;
    width: 90vmin;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 20px;
    border-radius: 5px;
}
input[type="range"]{
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 80%;
    height: 8px;
    background-color: #d5d5d5;
    border-radius: 8px;
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 8px;
}
input[type="range"]::-moz-track{
    -moz-appearance: none;
    height: 8px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 8px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #3264fe;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #3264fe;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #3264fe;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #3264fe;
}
#slider-value{
    width: 13%;
    position: relative;
    background-color: #3264fe;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto Mono",monospace;
    padding: 10px 0;
    border-radius: 5px;
}

.loadingg{
    text-align: center;
    color: white;
}

/* ukuran hp */
@media screen and (min-width: 576px){
	.profil{
		margin-left: 0px;
	}
	.pitik{
		margin-left: 2px;	
	}
}
/* tablet */
@media screen and (min-width: 768px){
	.profil{
		margin-left: 40px;
	}
	.pitik{
		margin-left: 30px;	
	}
}

/* destop */
@media screen and (min-width: 992px){
	.profil{
		margin-left: 80px;
	}
	.pitik{
		margin-left: 30px;	
	}
	.permainan{
		margin-top: 250px;
	}
}
/* akhir lebar */
